<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加学生信息</title>
</head>
<body>
<form action="{{url_for('addstu')}}" method="post">
    <table >
        <tbody>
            <tr>
                <td>姓名:</td>
                <td><input type="text" placehoder="请输入姓名" name="addname">
                </td>
            </tr>
            <tr>
                <td>手机号:</td>
                <td><input type="text" placehoder="请输入手机号" name="addphone">
                </td>
            </tr>
            <tr>
                <td>年龄:</td>
                <td><input type="text" placehoder="请输入年龄" name="addage">
                </td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><input type="text" placehoder="请输入性别" name="addsex">
                </td>
            </tr>
            <tr>
                <td>python成绩:</td>
                <td><input type="text" placehoder="请输入python成绩" name="addpython">
                </td>
            </tr>
            <tr>
                <td>c语言成绩:</td>
                <td><input type="text" placehoder="请输入c语言成绩" name="addc">
                </td>
            </tr>
            <tr>
                <td>english成绩:</td>
                <td><input type="text" placehoder="请输入english成绩" name="addenglish">
                </td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="确定"></td>
            </tr>
        </tbody>
    </table>
</form>
<a href="{{url_for('index')}}">跳转到首页</a>
</body>
</body>
</html>